---
import Layout from '../layouts/Layout.astro';
import ContentCard from '../components/ContentCard.astro';
import LinkButton from '../components/LinkButton.astro';
import bookshelvesImage from '../images/bookshelves.jpg';
import readingImage from '../images/reading.jpg';
---

<Layout title="Haven Bookstore - About">
  <main>
    <div class="hero">
      <section class="hero-content">
        <h1>About Us</h1>
      </section>
    </div>
    <div class="container">
      <ContentCard image={bookshelvesImage} heading="Our Story" text="Haven Bookstore started out as an idea for a community space centered around celebrating reading. After speaking with the members of her college book club, Haven Smith realized other people were excited to hear about her dream. Her grand opening two years later was a huge success. Since then, Haven Bookstore has grown to include thousands of unique titles, dedicated spaces for book-related events, and driven community volunteers. We're proud of what we've been able to accomplish over our 25-year history."></ContentCard>
    </div>
    <div class="container contact-container">
      <section class="contact">
        <h2>Visit us today!</h2>
        <LinkButton>Visit Us</LinkButton>
      </section>
    </div>
    <div class="container">
      <ContentCard image={readingImage} heading="Our Mission" text="Our goal is to foster the love of books and the joy of reading in our community across all ages. In our modern world reading has largely gone by the wayside, relegated to a somewhat niche hobby. We strive to teach people to enjoy books again and show them just how much value books can bring to their lives. Whether through acquiring new knowledge, having meaningful experiences or changing their worldview and opinions, anyone can benefit from a good book." isLeft={true}></ContentCard>
    </div>
  </main>
</Layout>
<style>
  .hero {
    position: relative;
    z-index: 1;
    height: 50vh;
  }
  .hero:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    min-height: 200px;
    height: 50vh;
    width: 100%;
    background-image: url('/about-hero.jpg');
    background-size: cover;
    background-position: top;
  }
  h1 {
    color: white;
    font-size: 2rem;
  }
  .hero-content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-content:after {
    background-color: black;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 40%;
  }
  .container {
    padding: 3rem;
    display: flex;
    justify-content: center;
  }
  .contact-container {
    padding: 2rem;
    background-color: var(--light-blue);
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  @media (max-width: 600px) {
    .container {
      padding: 2rem 1rem;
    }
  }
  @media (max-width: 400px) {
    .container {
      padding: 0rem;
    }
    .contact-container {
      padding: 2rem 0;
    }
  }
</style>